.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
src/lib/logos/CuatexFullLogo.svg
src/lib/logos/CuatexSVGSmallLogo.svg
src/app.html
static/android-chrome-192x192.png
static/android-chrome-512x512.png
static/apple-touch-icon.png
static/favicon-16x16.png
static/favicon-32x32.png
static/favicon.ico
